In [1]:
# importation des librairies necessaires 
import pandas as pd
import numpy as np

In [2]:
assign="HDR 2007-2008 Table 02.xlsx"
df = pd.read_excel(assign)
df.head(12)

,Unnamed: 0,Monitoring human development: enlarging people's choicesâ€¦,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32
0,2 Human development index trends,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,HDI rank,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,1975,NaN,1980,NaN,1985,NaN,1990,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,HIGH HUMAN DEVELOPMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df = pd.read_excel(assign,header=9)
df.head(5)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32
0,HDI rank,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,1975,NaN,1980,NaN,1985,NaN,1990,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,HIGH HUMAN DEVELOPMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,Iceland,NaN,0.868,NaN,0.890,NaN,0.899,NaN,0.918,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2,Norway,NaN,0.870,NaN,0.889,NaN,0.900,NaN,0.913,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# Supprimez d'abord toutes les colonnes (axe=1) sans valeurs
df = df.dropna(how="all", axis=1)
# Supprimer toutes les lignes (axe=0) sans valeurs
df = df.dropna(how="all", axis=0).reset_index(drop=True)
df.head(6)

,Unnamed: 0,Unnamed: 1,Unnamed: 3,Unnamed: 5,Unnamed: 7,Unnamed: 9,Unnamed: 11,Unnamed: 13,Unnamed: 15
0,HDI rank,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,1975,1980,1985,1990,1995,2000,2005.000
2,HIGH HUMAN DEVELOPMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,Iceland,0.868,0.890,0.899,0.918,0.923,0.947,0.968
4,2,Norway,0.870,0.889,0.900,0.913,0.938,0.958,0.968
5,3,Australia,0.851,0.868,0.880,0.894,0.934,0.949,0.962

In [5]:
df.columns

Index(['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 3', 'Unnamed: 5', 'Unnamed: 7',
       'Unnamed: 9', 'Unnamed: 11', 'Unnamed: 13', 'Unnamed: 15'],
      dtype='object')

In [6]:
columns = []
for c in df.columns:
    # Pour chaque colonne, obtenir les valeurs des 2 premiÃ¨res lignes
    # puis conservez toutes les chaÃ®nes (c'est-Ã -dire excluez-les si elles sont nulles) et ajoutez-les en colonne
    columns.append([str(v) for v in df[c][:2] if pd.notnull(v)])
columns

[['HDI rank'],
 [],
 ['1975'],
 ['1980'],
 ['1985'],
 ['1990'],
 ['1995'],
 ['2000'],
 ['2005.0']]

In [7]:
new_columns = ["HDI rank","Country"]
for i in columns[2:]:
    new_columns.append(F"{i[0]}")
new_columns[-1]="2005"
    
# RÃ©initialiser les colonnes des cadres de donnÃ©es
df.columns = new_columns
# Supprimer les lignes qui contenaient les informations dont nous n'avons plus besoin
# et rÃ©initialiser l'index
df = df.drop(np.arange(2), axis=0).reset_index(drop=True)
df.head()

,HDI rank,Country,1975,1980,1985,1990,1995,2000,2005
0,HIGH HUMAN DEVELOPMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Iceland,0.868,0.890,0.899,0.918,0.923,0.947,0.968
2,2,Norway,0.870,0.889,0.900,0.913,0.938,0.958,0.968
3,3,Australia,0.851,0.868,0.880,0.894,0.934,0.949,0.962
4,4,Canada,0.873,0.888,0.911,0.931,0.936,0.946,0.961

In [8]:
df.tail(5)

,HDI rank,Country,1975,1980,1985,1990,1995,2000,2005
178,176,Burkina Faso,0.257,0.280,0.305,0.321,0.337,0.353,0.370
179,177,Sierra Leone,..,..,..,..,..,..,0.336
180,NOTE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
181,The human development index values in this tab...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182,SOURCES\nColumns 1â€“6: calculated on the basis ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
# DÃ©poser les lignes du bas des donnÃ©es que nous voulons conserver, jusqu'Ã  la fin (dÃ©fini comme len(df))
df = df.drop(np.arange(180,len(df)), axis=0).reset_index(drop=True)

In [10]:
df.tail(5)

    HDI rank        Country   1975   1980   1985   1990   1995   2000   2005
175      173           Mali  0.245  0.268  0.272  0.296  0.321  0.352  0.380
176      174          Niger  0.246  0.264  0.261  0.279  0.296  0.321  0.374
177      175  Guinea-Bissau  0.267  0.271  0.300  0.322  0.350  0.365  0.374
178      176   Burkina Faso  0.257  0.280  0.305  0.321  0.337  0.353  0.370
179      177   Sierra Leone     ..     ..     ..     ..     ..     ..  0.336

In [11]:
hdi_categories = ["HIGH HUMAN DEVELOPMENT", "MEDIUM HUMAN DEVELOPMENT", "LOW HUMAN DEVELOPMENT"]
# Se dÃ©barrasser des rangÃ©es avec les catÃ©gories HDI
# https://stackoverflow.com/a/27360130 & https://stackoverflow.com/a/12098586
df = df.drop(df[df["HDI rank"].isin(hdi_categories)].index, axis=0).reset_index(drop=True)

In [12]:
# RÃ©fÃ©rence pour np.where https://docs.scipy.org/doc/numpy/reference/generated/numpy.where.html
# Pensez que cela ressemble Ã  une dÃ©claration du type "if" : where(test est vrai, vrai-quelque chose, faux-quelque chose)
# ceci peut aussi Ãªtre imbriquÃ© : where(test is true, true-thing, where(new-test is true, true-thing, false-thing))
df.loc[:, "HDI category"] = np.where(df["HDI rank"] > 155,
                                     "LOW HUMAN DEVELOPMENT",
                                     np.where(df["HDI rank"] < 71,
                                              "HIGH HUMAN DEVELOPMENT",
                                              "MEDIUM HUMAN DEVELOPMENT"
                                              
                                             )
                                    )
df.sort_values(by="HDI rank", inplace=True)

In [13]:
df

,HDI rank,Country,1975,1980,1985,1990,1995,2000,2005,HDI category
0,1,Iceland,0.868,0.890,0.899,0.918,0.923,0.947,0.968,HIGH HUMAN DEVELOPMENT
1,2,Norway,0.870,0.889,0.900,0.913,0.938,0.958,0.968,HIGH HUMAN DEVELOPMENT
2,3,Australia,0.851,0.868,0.880,0.894,0.934,0.949,0.962,HIGH HUMAN DEVELOPMENT
3,4,Canada,0.873,0.888,0.911,0.931,0.936,0.946,0.961,HIGH HUMAN DEVELOPMENT
4,5,Ireland,0.823,0.835,0.851,0.875,0.898,0.931,0.959,HIGH HUMAN DEVELOPMENT
5,6,Sweden,0.872,0.882,0.893,0.904,0.935,0.952,0.956,HIGH HUMAN DEVELOPMENT
6,7,Switzerland,0.883,0.895,0.902,0.915,0.926,0.946,0.955,HIGH HUMAN DEVELOPMENT
7,8,Japan,0.861,0.886,0.899,0.916,0.929,0.941,0.953,HIGH HUMAN DEVELOPMENT
8,9,Netherlands,0.873,0.885,0.899,0.914,0.934,0.947,0.953,HIGH HUMAN DEVELOPMENT
9,10,France,0.856,0.872,0.884,0.907,0.925,0.938,0.952,HIGH HUMAN DEVELOPMENT
10,11,Finland,0.846,0.866,0.884,0.906,0.918,0.940,0.952,HIGH HUMAN DEVELOPMENT
11,12,United States,0.870,0.890,0.904,0.919,0.931,0.942,0.951,HIGH HUMAN DEVELOPMENT
12,13,Spain,0.846,0.863,0.877,0.896,0.914,0.932,0.949,HIGH HUMAN DEVELOPMENT
13,14,Denmark,0.875,0.883,0.890,0.898,0.916,0.935,0.949,HIGH HUMAN DEVELOPMENT
14,15,Austria,0.848,0.862,0.876,0.899,0.918,0.938,0.948,HIGH HUMAN DEVELOPMENT
15,16,United Kingdom,0.853,0.860,0.870,0.890,0.929,0.931,0.946,HIGH HUMAN DEVELOPMENT
16,17,Belgium,0.852,0.869,0.883,0.903,0.931,0.943,0.946,HIGH HUMAN DEVELOPMENT
17,18,Luxembourg,0.836,0.850,0.863,0.890,0.913,0.929,0.944,HIGH HUMAN DEVELOPMENT
18,19,New Zealand,0.854,0.860,0.871,0.880,0.908,0.927,0.943,HIGH HUMAN DEVELOPMENT
19,20,Italy,0.845,0.861,0.869,0.892,0.910,0.926,0.941,HIGH HUMAN DEVELOPMENT
20,21,"Hong Kong, China (SAR)",0.763,0.803,0.830,0.865,0.886,0.919,0.937,HIGH HUMAN DEVELOPMENT
21,22,Germany,..,0.863,0.871,0.890,0.913,0.928,0.935,HIGH HUMAN DEVELOPMENT
22,23,Israel,0.805,0.830,0.850,0.869,0.891,0.918,0.932,HIGH HUMAN DEVELOPMENT
23,24,Greece,0.841,0.856,0.869,0.877,0.882,0.897,0.926,HIGH HUMAN DEVELOPMENT
24,25,Singapore,0.729,0.762,0.789,0.827,0.865,..,0.922,HIGH HUMAN DEVELOPMENT
25,26,Korea (Republic of),0.713,0.747,0.785,0.825,0.861,0.892,0.921,HIGH HUMAN DEVELOPMENT
26,27,Slovenia,..,..,..,0.851,0.857,0.891,0.917,HIGH HUMAN DEVELOPMENT
27,28,Cyprus,..,0.809,0.828,0.851,0.870,0.893,0.903,HIGH HUMAN DEVELOPMENT
28,29,Portugal,0.793,0.807,0.829,0.855,0.885,0.904,0.897,HIGH HUMAN DEVELOPMENT
29,30,Brunei Darussalam,..,..,..,..,..,..,0.894,HIGH HUMAN DEVELOPMENT
...,...,...,...,...,...,...,...,...,...,...
147,148,Kenya,0.466,0.514,0.534,0.556,0.544,0.529,0.521,MEDIUM HUMAN DEVELOPMENT
148,149,Djibouti,..,..,..,0.476,0.485,0.490,0.516,MEDIUM HUMAN DEVELOPMENT
149,150,Timor-Leste,..,..,..,..,..,..,0.514,MEDIUM HUMAN DEVELOPMENT
150,151,Zimbabwe,0.550,0.579,0.645,0.654,0.613,0.541,0.513,MEDIUM HUMAN DEVELOPMENT
151,152,Togo,0.423,0.473,0.469,0.496,0.514,0.521,0.512,MEDIUM HUMAN DEVELOPMENT
152,153,Yemen,..,..,..,0.402,0.439,0.473,0.508,MEDIUM HUMAN DEVELOPMENT
153,154,Uganda,..,..,0.420,0.434,0.433,0.480,0.505,MEDIUM HUMAN DEVELOPMENT
154,155,Gambia,0.290,..,..,..,0.436,0.472,0.502,MEDIUM HUMAN DEVELOPMENT
155,156,Senegal,0.342,0.367,0.401,0.428,0.449,0.473,0.499,LOW HUMAN DEVELOPMENT
156,157,Eritrea,..,..,..,..,0.435,0.459,0.483,LOW HUMAN DEVELOPMENT
157,158,Nigeria,0.321,0.378,0.391,0.411,0.432,0.445,0.470,LOW HUMAN DEVELOPMENT
158,159,Tanzania (United Republic of),..,..,..,0.421,0.419,0.433,0.467,LOW HUMAN DEVELOPMENT
159,160,Guinea,..,..,..,..,..,..,0.456,LOW HUMAN DEVELOPMENT
160,161,Rwanda,0.337,0.385,0.403,0.340,0.330,0.418,0.452,LOW HUMAN DEVELOPMENT
161,162,Angola,..,..,..,..,..,..,0.446,LOW HUMAN DEVELOPMENT
162,163,Benin,0.312,0.344,0.367,0.374,0.403,0.424,0.437,LOW HUMAN DEVELOPMENT
163,164,Malawi,0.330,0.355,0.370,0.388,0.444,0.431,0.437,LOW HUMAN DEVELOPMENT
164,165,Zambia,0.470,0.478,0.489,0.477,0.439,0.420,0.434,LOW HUMAN DEVELOPMENT
165,166,CÃ´te d'Ivoire,0.419,0.448,0.453,0.450,0.436,0.432,0.432,LOW HUMAN DEVELOPMENT
166,167,Burundi,0.290,0.318,0.352,0.366,0.347,0.368,0.413,LOW HUMAN DEVELOPMENT
167,168,Congo (Democratic Republic of the),0.414,0.423,0.430,0.423,0.391,0.375,0.411,LOW HUMAN DEVELOPMENT
168,169,Ethiopia,..,..,0.311,0.332,0.347,0.379,0.406,LOW HUMAN DEVELOPMENT
169,170,Chad,0.296,0.298,0.342,0.364,0.377,0.397,0.388,LOW HUMAN DEVELOPMENT
170,171,Central African Republic,0.350,0.371,0.394,0.398,0.390,0.394,0.384,LOW HUMAN DEVELOPMENT
171,172,Mozambique,..,0.304,0.291,0.317,0.335,0.375,0.384,LOW HUMAN DEVELOPMENT
172,173,Mali,0.245,0.268,0.272,0.296,0.321,0.352,0.380,LOW HUMAN DEVELOPMENT
173,174,Niger,0.246,0.264,0.261,0.279,0.296,0.321,0.374,LOW HUMAN DEVELOPMENT
174,175,Guinea-Bissau,0.267,0.271,0.300,0.322,0.350,0.365,0.374,LOW HUMAN DEVELOPMENT
175,176,Burkina Faso,0.257,0.280,0.305,0.321,0.337,0.353,0.370,LOW HUMAN DEVELOPMENT
176,177,Sierra Leone,..,..,..,..,..,..,0.336,LOW HUMAN DEVELOPMENT

In [14]:
#supprimer les ".."
for c in df.columns:
    try:
        df[c] = np.where(df[c] == "..", " ", df[c])
    except TypeError:
        pass

C:\Users\User\Anaconda3\lib\site-packages\pandas\core\ops.py:1167: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)

In [15]:
df

,HDI rank,Country,1975,1980,1985,1990,1995,2000,2005,HDI category
0,1,Iceland,0.868,0.890,0.899,0.918,0.923,0.947,0.968,HIGH HUMAN DEVELOPMENT
1,2,Norway,0.870,0.889,0.900,0.913,0.938,0.958,0.968,HIGH HUMAN DEVELOPMENT
2,3,Australia,0.851,0.868,0.880,0.894,0.934,0.949,0.962,HIGH HUMAN DEVELOPMENT
3,4,Canada,0.873,0.888,0.911,0.931,0.936,0.946,0.961,HIGH HUMAN DEVELOPMENT
4,5,Ireland,0.823,0.835,0.851,0.875,0.898,0.931,0.959,HIGH HUMAN DEVELOPMENT
5,6,Sweden,0.872,0.882,0.893,0.904,0.935,0.952,0.956,HIGH HUMAN DEVELOPMENT
6,7,Switzerland,0.883,0.895,0.902,0.915,0.926,0.946,0.955,HIGH HUMAN DEVELOPMENT
7,8,Japan,0.861,0.886,0.899,0.916,0.929,0.941,0.953,HIGH HUMAN DEVELOPMENT
8,9,Netherlands,0.873,0.885,0.899,0.914,0.934,0.947,0.953,HIGH HUMAN DEVELOPMENT
9,10,France,0.856,0.872,0.884,0.907,0.925,0.938,0.952,HIGH HUMAN DEVELOPMENT
10,11,Finland,0.846,0.866,0.884,0.906,0.918,0.940,0.952,HIGH HUMAN DEVELOPMENT
11,12,United States,0.870,0.890,0.904,0.919,0.931,0.942,0.951,HIGH HUMAN DEVELOPMENT
12,13,Spain,0.846,0.863,0.877,0.896,0.914,0.932,0.949,HIGH HUMAN DEVELOPMENT
13,14,Denmark,0.875,0.883,0.890,0.898,0.916,0.935,0.949,HIGH HUMAN DEVELOPMENT
14,15,Austria,0.848,0.862,0.876,0.899,0.918,0.938,0.948,HIGH HUMAN DEVELOPMENT
15,16,United Kingdom,0.853,0.860,0.870,0.890,0.929,0.931,0.946,HIGH HUMAN DEVELOPMENT
16,17,Belgium,0.852,0.869,0.883,0.903,0.931,0.943,0.946,HIGH HUMAN DEVELOPMENT
17,18,Luxembourg,0.836,0.850,0.863,0.890,0.913,0.929,0.944,HIGH HUMAN DEVELOPMENT
18,19,New Zealand,0.854,0.860,0.871,0.880,0.908,0.927,0.943,HIGH HUMAN DEVELOPMENT
19,20,Italy,0.845,0.861,0.869,0.892,0.910,0.926,0.941,HIGH HUMAN DEVELOPMENT
20,21,"Hong Kong, China (SAR)",0.763,0.803,0.830,0.865,0.886,0.919,0.937,HIGH HUMAN DEVELOPMENT
21,22,Germany,,0.863,0.871,0.890,0.913,0.928,0.935,HIGH HUMAN DEVELOPMENT
22,23,Israel,0.805,0.830,0.850,0.869,0.891,0.918,0.932,HIGH HUMAN DEVELOPMENT
23,24,Greece,0.841,0.856,0.869,0.877,0.882,0.897,0.926,HIGH HUMAN DEVELOPMENT
24,25,Singapore,0.729,0.762,0.789,0.827,0.865,,0.922,HIGH HUMAN DEVELOPMENT
25,26,Korea (Republic of),0.713,0.747,0.785,0.825,0.861,0.892,0.921,HIGH HUMAN DEVELOPMENT
26,27,Slovenia,,,,0.851,0.857,0.891,0.917,HIGH HUMAN DEVELOPMENT
27,28,Cyprus,,0.809,0.828,0.851,0.870,0.893,0.903,HIGH HUMAN DEVELOPMENT
28,29,Portugal,0.793,0.807,0.829,0.855,0.885,0.904,0.897,HIGH HUMAN DEVELOPMENT
29,30,Brunei Darussalam,,,,,,,0.894,HIGH HUMAN DEVELOPMENT
...,...,...,...,...,...,...,...,...,...,...
147,148,Kenya,0.466,0.514,0.534,0.556,0.544,0.529,0.521,MEDIUM HUMAN DEVELOPMENT
148,149,Djibouti,,,,0.476,0.485,0.490,0.516,MEDIUM HUMAN DEVELOPMENT
149,150,Timor-Leste,,,,,,,0.514,MEDIUM HUMAN DEVELOPMENT
150,151,Zimbabwe,0.550,0.579,0.645,0.654,0.613,0.541,0.513,MEDIUM HUMAN DEVELOPMENT
151,152,Togo,0.423,0.473,0.469,0.496,0.514,0.521,0.512,MEDIUM HUMAN DEVELOPMENT
152,153,Yemen,,,,0.402,0.439,0.473,0.508,MEDIUM HUMAN DEVELOPMENT
153,154,Uganda,,,0.420,0.434,0.433,0.480,0.505,MEDIUM HUMAN DEVELOPMENT
154,155,Gambia,0.290,,,,0.436,0.472,0.502,MEDIUM HUMAN DEVELOPMENT
155,156,Senegal,0.342,0.367,0.401,0.428,0.449,0.473,0.499,LOW HUMAN DEVELOPMENT
156,157,Eritrea,,,,,0.435,0.459,0.483,LOW HUMAN DEVELOPMENT
157,158,Nigeria,0.321,0.378,0.391,0.411,0.432,0.445,0.470,LOW HUMAN DEVELOPMENT
158,159,Tanzania (United Republic of),,,,0.421,0.419,0.433,0.467,LOW HUMAN DEVELOPMENT
159,160,Guinea,,,,,,,0.456,LOW HUMAN DEVELOPMENT
160,161,Rwanda,0.337,0.385,0.403,0.340,0.330,0.418,0.452,LOW HUMAN DEVELOPMENT
161,162,Angola,,,,,,,0.446,LOW HUMAN DEVELOPMENT
162,163,Benin,0.312,0.344,0.367,0.374,0.403,0.424,0.437,LOW HUMAN DEVELOPMENT
163,164,Malawi,0.330,0.355,0.370,0.388,0.444,0.431,0.437,LOW HUMAN DEVELOPMENT
164,165,Zambia,0.470,0.478,0.489,0.477,0.439,0.420,0.434,LOW HUMAN DEVELOPMENT
165,166,CÃ´te d'Ivoire,0.419,0.448,0.453,0.450,0.436,0.432,0.432,LOW HUMAN DEVELOPMENT
166,167,Burundi,0.290,0.318,0.352,0.366,0.347,0.368,0.413,LOW HUMAN DEVELOPMENT
167,168,Congo (Democratic Republic of the),0.414,0.423,0.430,0.423,0.391,0.375,0.411,LOW HUMAN DEVELOPMENT
168,169,Ethiopia,,,0.311,0.332,0.347,0.379,0.406,LOW HUMAN DEVELOPMENT
169,170,Chad,0.296,0.298,0.342,0.364,0.377,0.397,0.388,LOW HUMAN DEVELOPMENT
170,171,Central African Republic,0.350,0.371,0.394,0.398,0.390,0.394,0.384,LOW HUMAN DEVELOPMENT
171,172,Mozambique,,0.304,0.291,0.317,0.335,0.375,0.384,LOW HUMAN DEVELOPMENT
172,173,Mali,0.245,0.268,0.272,0.296,0.321,0.352,0.380,LOW HUMAN DEVELOPMENT
173,174,Niger,0.246,0.264,0.261,0.279,0.296,0.321,0.374,LOW HUMAN DEVELOPMENT
174,175,Guinea-Bissau,0.267,0.271,0.300,0.322,0.350,0.365,0.374,LOW HUMAN DEVELOPMENT
175,176,Burkina Faso,0.257,0.280,0.305,0.321,0.337,0.353,0.370,LOW HUMAN DEVELOPMENT
176,177,Sierra Leone,,,,,,,0.336,LOW HUMAN DEVELOPMENT

In [16]:
#sauvergarde de df
df.to_csv('HDR 2007-2008 Table 02.csv',index=False)